{% extends 'article/base.html' %}

{% load staticfiles %}

{% block title %}Article Column{% endblock %}

{% block content %}
<div>
    <p class="text-right"><button id="add_column" onclick="add_column()" class="btn btn-primary">Add Column</button></p>
    <table class="table table-hover">
        <tr>
            <td>ID</td>
            <td>Column Name</td>
            <td>Operation</td>
        </tr>
        {% for column in columns %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ column.column }}</td>
            <td>
                <a name="edit" href="javascript:" onclick="edit_column(this, {{column.id}})">
                    <span class="glyphicon glyphicon-pencil"></span></a>
                <a name="delete" href="javascript:" onclick="del_column(this, {{column.id}})">
                    <span class="glyphicon glyphicon-trash" style="margin-left:20px"></span></a>
            </td>
        </tr>
        {% empty %}
        <p>Dose not have article yet.</p>
        {% endfor %}
    </table>
</div>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
<script type="text/javascript">
    function add_column(){
        var index = layer.open({
            type:1,
            skin:"layui-layer-rim",
            area:["400px", "200px"],
            title: "Add Article",
            content: '<div class="text-center" style="margin-top:20px"><p>Please enter article name</p><p>{{column_form.column}}</p></div>',
            btn: ['Yes', 'Cancel'],

            /*
            yes: function(index, layero){
                column_name = $('#new_column').val();
                alert(column_name);
            },
            */

            yes: function(index, layero){
                column_name = $('#id_column').val();
                $.ajax({
                    url:'{% url "article:article_column" %}',
                    type:'POST',
                    data:{'column':column_name},
                    success:function(e){
                        if(e=="1"){
                            parent.location.reload();
                            layer.msg("Good");
                        }
                        else{
                            layer.msg("Article already exists, please change another name")
                        }
                    },
                });
            },

            btn2: function(index, layero){
                layer.close(index);
            }
        });
    }

    function edit_column(the, column_id){
        var name = $(the).parents("tr").children("td").eq(1).text();
        var index = layer.open({
            type: 1,
            skin: "layui-layer-rim",
            area: ["400px", "200px"],
            title: "Edit Column Name",
            content: '<div class="text-center" style="margin-top:20px"><p>Please edit column name</p><p><input type="text" id="new_name" value="'+name+'"></p></div>',
            btn: ["Yes", "Cancel"],
            yes: function(index, layero){
                new_name = $("#new_name").val();
                $.ajax({
                    url: "{% url 'article:rename_article_column' %}",
                    type: "POST",
                    data: {"column_id":column_id, "column_name":new_name},
                    success: function(e){
                        if(e=="1"){
                            parent.location.reload();
                            layer.msg("good");
                        }else{
                            layer.msg("Failed to update column name.");
                        }
                    },
                });
            },
        });
    }

    function del_column(the, column_id){
        var name = $(the).parents("tr").children("td").eq(1).text();
        layer.open({
            type: 1,
            skin: "layui-layer-rim",
            area: ["400px", "200px"],
            title: "Delete Column",
            content: '<div class="text-center" style="margin-top:20px"><p>Do you want to delete '+name+' cloumn?</p></div>',
            btn: ['Yes', 'Cancel'],
            yes: function(){
                $.ajax({
                    url: '{% url "article:del_article_column" %}',
                    type: "POST",
                    data: {"column_id":column_id},
                    success: function(e){
                        if(e=="1"){
                            parent.location.reload();
                            layer.msg("Column has been deleted");
                        }else{
                            layer.msg("Failed");
                        }
                    },
                })
            },
        });
    }
</script>
{% endblock %}