{% extends 'article/base.html' %}

{% load staticfiles %}

{% block title %}Article Column{% endblock %}

{% block content %}
<div>
    <p class="text-right"><button id="add_column" onclick="add_column()" class="btn btn-primary">Add Column</button></p>
    <table class="table table-hover">
        <tr>
            <td>ID</td>
            <td>Column Name</td>
            <td>Operation</td>
        </tr>
        {% for column in columns %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ column.column }}</td>
            <td>--</td>
        </tr>
        {% empty %}
        <p>Dose not have article yet.</p>
        {% endfor %}
    </table>
</div>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
<script type="text/javascript">
    function add_column(){
        var index = layer.open({
            type:1,
            skin:"layui-layer-rim",
            area:["400px", "200px"],
            title: "Add Article",
            content: '<div class="text-center" style="margin-top:20px"><p>Please enter article name</p><p>{{column_form.column}}</p></div>',
            btn: ['Yes', 'Cancel'],

            /*
            yes: function(index, layero){
                column_name = $('#new_column').val();
                alert(column_name);
            },
            */

            yes: function(index, layero){
                column_name = $('#id_column').val();
                $.ajax({
                    url:'{% url "article:article_column" %}',
                    type:'POST',
                    data:{'column':column_name},
                    success:function(e){
                        if(e=="1"){
                            parent.location.reload();
                            layer.msg("Good");
                        }
                        else{
                            layer.msg("Article already exists, please change another name")
                        }
                    },
                });
            },

            btn2: function(index, layero){
                layer.close(index);
            }
        });
    }
</script>
{% endblock %}