
{% load staticfiles %}
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.myfakeurl.com"><img src="{% static 'images/logon.jpg' %}" width="100px" height="30"></a>
        </div>
        <div>
            <ul class="nav navbar-nav" role="navigation">
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'blog:blog_title' %}">BLOG</a></li>
                <li><a href="{% url 'article:article_titles' %}">Articles Management</a></li>
                <li><a href="{% url 'image:list_images' %}">Image Management</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 10px">
                {% if user.is_authenticated %}
                <li>
                    <div class="dropdown" style="margin-top:8px">
                        <button class='btn btn-default dropdown-toggle' type='button' id='dropdownMenu' data-toggle='dropdown'>
                            {{ user.username }} <span class='caret'></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'account:password_change' %}">Change Password</a></li>
                            <li><a href="{% url 'account:my_information' %}">My Information</a></li>
                        </ul>
                    </div>
                </li>
                <!-- <li><a href="#">{{user.username}}</a></li> -->
                <li><a href="{% url 'account:user_logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'account:user_login' %}">LOGIN</a></li>
                <li><a href="{% url 'account:user_register' %}">SIGN UP</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>

<!--
<script scr="{% static 'js/jquery.min.js' %}"></script>
<script scr="{% static 'js/bootstrap.min.js' %}"></script>
-->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
